* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --verydarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --verylightGray: hsl(0, 0%, 98%);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--verylightGray);
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

h1 {
  font-weight: lighter;
  color: var(--grayishBlue);
  font-size: 25px;
}
h2,
h3 {
  color: var(--verydarkBlue);
}

header p {
  font-family: 1rem;
  color: var(--grayishBlue);
  padding-top: 20px;
}

.box {
  margin-top: 30px;

  background-color: #fff;
  box-shadow: 0 10px 20px rgb(0 0 0 / 5%), 0 6px 6px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 20px;
  /*
  margin: 15px;*/
}

.start {
  text-align: start;
  padding: 25px 30px;
}
.start p {
  font-size: 14px;
  color: var(--grayishBlue);
}
.image {
  text-align: end;
  padding-right: 20px;
}

.supervisor {
  border-top: 5px solid var(--cyan);
}
.team-builder {
  border-top: 5px solid var(--red);
}

.karma {
  border-top: 5px solid var(--orange);
}

.calculator {
  border-top: 5px solid var(--blue);
}
/*MEDIA QUERY */
@media only screen and (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 40px;
    margin-left: 40px;
  }

  .box {
    width: 350px;
  }
  .supervisor {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .team-builder {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .karma {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }

  .calculator {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .box {
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}
